<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @breastfeeding.cantidad %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @breastfeeding.tiempo %>
</p>

<%= link_to 'Edit', edit_breastfeeding_path(@breastfeeding) %> |
<%= link_to 'Back', breastfeedings_path %>
